body{
        max-width: 1600px;
        margin-left: 160px;
        margin-right: 160px;
        background-color: #F1F1F3;
}

/* Font Styles */
.font-styles{
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Header Styles */
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.text{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.btn{
    border: 1px solid #006A50;
    padding: 15px 30px;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: semibold;
}
.header-container{
    background-color: #C6E4D6;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    align-items: center;
}
.header-content{
    margin-left: 59px;
}

.header-title-top{
    color:rgba(14, 14, 14, 0.5);
    font-size: 30px;
}
.header-title-main{
    color: rgba(14, 14, 14, 1);
    font-size: 45px;
    font-weight: bold;
}
.btn-primary{
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.header-image{
    padding: 50px;
}

/* Shared Styles */

.secondary-title{
    color: #0E0E0E;
    font-size: 40px;
    font-weight: bold;
}
.secondary-description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}

/* Main Section */

.card-container{
    display: flex;
    gap: 30px;
    
}
.card-1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 35px;
    border-radius: 16px;
}

.card-2{
    background-color: rgba(198, 228, 214, 1);
    padding: 35px;
    border-radius: 16px;
}

.card-3{
    background-color: rgba(247, 235, 207, 1);
    padding: 35px;
    border-radius: 16px;
}

.card-btn-1{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #5490F5;
    color: white;
}
.card-btn-2{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #09A15C;
    color: white;
}

.card-btn-3{
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    background-color: #FFC239;
    color: white;
}
/* Qoute section */
.qoute-container{
    background-image: url('./resources/quote-bg.png');
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 24px;
    padding: 24px 48px;
    margin-top: 32px;
}
.news-container{
    padding: 48px;
    background-color: white;
    border-radius: 24px;
}
.news{
    display: flex;
}
.news-title{
    font-size: 32px;
    font-weight: bold;
}
.news-image{
    border-radius: 24px;
}


.news-content{
    margin-left: 32px;
    margin-right: 48px;
}

/* Donation Container */
.donation-container{
    text-align: center;
    padding: 0px 70px 0px 70px; 
}
.donation-container h2{
    font-size: 40px;
    font-weight: bold;
}
.donation-container p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.donation-card-container{
    display: flex;
    gap: 20px;
}
.donation-card{
    background-color: #FFFFFF;
    width: 240px;
    height: 128px; 
    border-radius: 16px;
}
.donation-card p{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.donation-card:hover{
    background-color: #C6E4D6;
}
/* Subscription Section */

.subscription-container{
    background-color: #C6E4D6;
    text-align: center;
    border-radius: 24px;
    padding: 100px;
    margin-top: 80px;
}

input{
    width: 50%;
}
.footer-container{
    text-align: center;
    background-color: white;
}
.social img{
    margin-left:20px;
}

